body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F4F3EF;
    color: #1E1D3B;
}

.festival-dark-blue {
    color: #1E1D3B;
}

.festival-cream {
    color: #F4F3EF;
}

.codebar-blue {
    color: #4bafff;
}

.codebar-pink {
    color: #ff036a;
}

.codebar-green {
    color: #19f3be;
}

.border-dark-blue {
    border-color: #1E1D3B;
}

.border-cb-pink {
    border-color: #ff036a;
}

.border-cb-green {
    border-color: #19f3be;
}

.bg-dark-blue {
    background-color: #1E1D3B;
}

.bg-cb-pink {
    background-color: #ff036a;
}

.bg-cb-green {
    background-color: #19f3be;
}

.bg-dark-green {
    background-color: #4C9A2A;
}

.bg-cb-blue {
    background-color: #4bafff;
}

.bg-gold {
    background-color: #FFD700;
}

.bg-silver {
    background-color: #C0C0C0;
}

.bg-purple {
    background-color: #7600BC;
}

.bg-video {
    background-image: url("./assets/uncodebar-8.jpeg");
    background-size: cover;
    background-position: center;
    filter: brightness(50%);
}

.bg-banner {
    background-color: #1E1D3B;
    background-image: url("./assets/header-banner.png");
    background-size: cover;
    background-position: center;
}

.blue-button-outer {
    padding: 4px;
    display: inline-block;
    border: 2px solid #4bafff;
}

.blue-button {
    background-color: #4bafff ;
    padding: 10px 30px;
    color: #fff;
    font-weight: bold;
}

.blue-button:hover {
    background-color: #00008B ;
}

.white-button-outer {
    padding: 4px;
    display: inline-block;
    border: 2px solid #fff;
}

.white-button {
    background-color: #fff ;
    padding: 10px 30px;
    color: #1E1D3B;
    font-weight: bold;
}

.white-button:hover {
    background-color: #4bafff;
    color: #000;
}

.hex-box {
    margin-right: -10%;
}

.big-hex-image {
    margin-bottom: -150px;
}

.pink-box {
    border: 2px solid #ff036a;
}

.blue-box {
    border: 2px solid #4bafff;
}

.green-box {
    border: 2px solid #19f3be;
}

.gold-box {
    border: 2px solid #FFD700;
}

.silver-box {
    border: 2px solid #C0C0C0;
}

.purple-box {
    border: 2px solid #7600BC;
}

.dark-green-box {
    border: 2px solid #4C9A2A;
}

.green-circle {
    margin-left: -70px;
    margin-top: 20px;
}

.pink-square {
    margin-right: -70px;
}
